<div class="col-md-6 col-xs-12" *ngFor="let s of schema">
    <form action="" method="POST" class="form" role="form">
        <div class="form-group">
        <label for="{{s.key}}">{{s.title}}</label>
        <p><i>{{s.description}}. Default: '{{s.default}}'</i></p>
        <div class="input-group">
            <input [(ngModel)]="configValues[s.key]" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="{{s.key}}">
            <div class="btn btn-success input-group-addon success" ng-click="saveField(s.key)"><p ng-hide="value.value == value.value_orig || value.value === null">Save</p></div>
        </div>
        </div>
    </form>
</div>
